.footer__column-link{
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin:0;
    padding:0;
    color:white;
    transition: all .2s linear;
  }
  .footer__column-link:last-child{
    margin-bottom: 16px;
  }
  
.footer__column-link:hover{
  opacity: .75;
}
